#header {
  background-color: #212529;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 4em;
  height: 18em;
}
#displayDiscount {
  display: none;
}
#image {
  position: relative;
}
#caption {
  position: absolute;
  top: 0;
  right: 8px;
  padding: 4px;
  background-color: #212529;
}
/* .checked {
  color: orange;
} */
